<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>

<body>
<div>
    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Idade</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="moradores : ${listaDeMoradores}">
            <td th:text="${moradores.nome}"></td>
            <td th:text="${moradores.email}"></td>
            <td th:text="${moradores.idade}"></td>
        </tr>
        </tbody>
    </table>

</div>
</body>

</html>